<div class="jumbotron mt-4">
  <h1 class="display-4">C1 Platform</h1>
  <p class="lead">This acts a platform, having LTI resource links.</p>
  <hr class="my-4">
</div>
<div> 
  <span>To Launch LTI Flow click the button :</span>
<button class="btn btn-primary" onclick="someFunction()">
    Launch
  </button>
</div>
<script>
    function someFunction() {
        window.location = '/resources/res-000-000-001';
    }
</script>

